<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Bind CategoryTreeInterface to CategoryTree model -->
    <preference for="Croco\News\Api\CategoryTreeInterface" type="Croco\News\Model\CategoryTree"/>

    <!-- Bind CategoryTreeInterface Data to CategoryTree Data model -->
    <preference for="Croco\News\Api\Data\CategoryTreeInterface" type="Croco\News\Model\Data\CategoryTree"/>

    <!-- Bind the service interface to its implementation -->
    <preference for="Croco\News\Api\PostManagementInterface" type="Croco\News\Model\PostManagement"/>

    <!-- Bind the Post data interface to its implementation -->
    <preference for="Croco\News\Api\Data\PostInterface" type="Croco\News\Model\Data\Post"/>


<!--    <preferenceerence for="Croco\News\Api\PostManagementInterface" type="Croco\News\Model\PostManagement"/>-->


</config>
